*, *:before, *:after {
  box-sizing: border-box;
}
section, body {
  font-family: 'Raleway', sans-serif;
  font-size: .9em;
}
section {
/*   margin-left: 10px;
 */}
.container {
  width: 95%;
}
.container2 {
  width: 40%;
  margin-top: 97px;
  position: fixed;
  top: 68px;
  right: 0;
  z-index: 3000;
  background: rgba(32, 12, 94, .9);
  padding: 20px;
}
.container3 {
  width: 40%;
  position: absolute;
  top: 50px;
  right: 0;
}
.container4 {
  width: 40%;
  margin-top: 140px;
  position: absolute;
  top: 100px;
  right: 0;
}
.search {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 3001;
}
.code {
  margin: 0;
  line-height: em;
  padding-top: 15px;
}
.section {
  min-height: 200px;
}
/* input.ng-invalid {
  border: 1px solid red;
}
input.ng-valid {
  border: 1px solid green;
} */
/* .red {
  display: block;
  color: red;
  font-size: 1.0em;
} */
section:after {
  clear: both;
}
.border {
   margin-bottom: 20px;
   margin-left: 20px;
   margin-right: 20px;
   border: 1px solid black;
   padding: 20px;
}
.border-opacity {
/*   position: absolute;
 */      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(33,0,117,0.93) 0%, rgba(51,92,255,1) 100%);
      /* z-index: 1; */
/*       background: rgba(5, 9, 114, 0.94);
 */    /* These three lines are for transparency in all browsers. */
/*     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
filter: alpha(opacity=50);
opacity: .5;
  background: linear-gradient(to bottom, rgba(212,228,239,1) 0%, rgba(247,239,173,1) 100%);
 */}
 .title {
  position: relative;
  width: 100%;
}
/* .initial {
  position: relative;
  display: flex;
  margin-top: 110px;
} */
.date {
/*   margin-top: 4px;
margin-left: 10px;
 */
  margin: 0;
  font-size: 1.6em;
  color: #dd291c;
  text-shadow: 3px 4px 5px rgba(255,255,255,.8);
  line-height: .2em;
  padding-top: 15px;
}
.form {
  margin: 0 auto;
  width: 100%;
}
.bold {
  font-weight: bold;
}
.top {
  float: right;
  width: 60%;
  margin-top: -50px;
}
.top:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.margin-l {
  margin-left: 20px;
}
.margin-l2 {
  margin-left: 10px;
}
.margin-r2 {
  margin-right: 10px;
}
a {
  font-size: 1.0em;
  color: #f3f709;
}
a:hover, button:hover {
  border: 1px solid #aaa;
  color: #e86c19;
}
.back {
  margin-top: -35px;
}
li {
  list-style-type: none;
/*   margin: 20px;
 */
}
/* p {
  margin-left: 10px;
} */
p{
   color: rgba(255, 255, 255, 1);
   margin: 0;
   line-height: 1.5;
}
p, label, input, h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3em;
}
h5 {
  color: darkslategrey;
  line-height: 1.5em;
  margin: 0;
}
.option {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3em;
  margin-left: 10px;
}
/* input, label .block {
  display: block;
}
 */
 .block {
   display: block;
 }
 .margin-auto {
   margin: 0 auto;
   width: 77%;
 }
 .margin-auto2 {
     margin: 0 auto;
     width: 100%;
     margin-top: -80px;
 }
.input {
  float: left;
  margin: 10px;
  display: block;
}
.input2, .radio {
  width: 45%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
}
.input3 {
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
}
.input4 {
  width: 90%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
}
.radio2 {
  width: 25%;
}
.label {
  float: left;
  width: 100%;
  padding-bottom: 10px;
}
.label2 {
  width: 45%;
  margin: 15px;
  padding: 5px;
  margin-left: 150px;
}
.button {
  border: 1px solid white;
  text-decoration: none;
/*   background-color: #4747a3;
 */
  background: linear-gradient(to bottom, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  padding: 10px;
  border-radius: 5px;
  font-size: .9em;
  color: blue;
  font-weight: 600;
}

/* h1 {
  margin-right: 20px;
  margin-left: 10px;
  font-size: 40px;
  margin-top: 9px;
} */
h1 {
  width: 25%;
/* margin-right: 20px; */
/* margin-left: 10px; */
font-size: 40px;
/* margin-top: 9px; */
position: relative;
top: 0;
right: 0;
margin: 0;
text-shadow: 3px 4px 5px rgba(255,255,255,.8);
}
h2 {
  margin-left: 10px;
  font-size: 30px;
}
.title2 {
    margin-top: -1px;
}
.margin-top {
  margin-top: 40px;
}
.edit {
  margin: 0 auto;
  display: block;
  width: 100%;
}
table {
  width: 98%;
  margin-top: 75px;
  margin-left: 230px;
  border: 1px solid black;
  margin: 0 auto;
}
.name {
  width: 40%;
}
th {
  width: 100%;
  background: #a39e9e;
  text-align: left;
  padding: 5px;
}
td {
  padding-left: 5px;
}
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

textarea {
  width: 70%;
  min-height: 100px;
  min-width: 300px;
  margin-left: 10px;
  font-size: 1.3em;
  padding: 10px 10px;
}
.right {
  float: right;
}
.clear, .right:after, .left:after, li:after, label:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.left {
  float: left;
}
.price {
/*   margin-left: 30px;
 */  margin-top: 9px;
  font-size: 1.3em;
}
 .clearfix {
    content: ".";
/*     visibility: hidden;
 */    display: block;
    height: 0;
    clear: both;
 }
 .bottom {
   display: inline-block;
 }
 .flex {
   margin-left: 265px;
   display: inline-flex;
   margin-top: 20px;
 }
 .flex2 {
   font-size: .8em;
   margin-left: 93px;
   display: inline-flex;
 }
 .align {
   margin-top: 20px;
   margin-left: 20px;
 }
 span {
   float: right;
 }
 .red {
   color: red;
 }
 .map {
   margin: 0 auto;
   height: 1200px;
   width: 800px;
   top: 0;
   left: 0;
   width: 60%;
   position: absolute;;
   border: 1px solid silver;
}
#map img { max-width: none; }
.map2 {
  margin-top: -130px;
  margin-bottom: 20px;
}
h3 img {
  max-height: 50px;
}
.active a {
    color: #e86c19;
    text-decoration: none;
}
.infoWindowContent {
    color: blue;
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
.marker {
/*   background: #f7efad;
 */  padding: 10px;
/*   min-height: 292px;
 */  border: 2px solid blue;
  margin-bottom: 5px;
  margin-top: 5px;
}
.marker:active, .gm-style-iw:active {
  background: green;
}
.marker2 {
  position: fixed;
  top: 0px;
/*   background: #f7efad;
 */
  min-height: 30px;
  background: linear-gradient(to bottom, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  width: 40%;
  padding: 10px;
  border: 2px solid blue;
  right: 0;
      z-index: 3000;
}
.gather {
  font-size: 1.8em;
  color: #301484;
  padding-top: 15px;
  margin: 0;
  text-shadow: 3px 4px 5px rgba(255,255,255,.8);
}
.fadein {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}
.fadeout {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}
.header {
  float: left;
  width: 100%;
  line-height: 1.1;
}
.one {
/*   width: 48%;
 */  padding: 5px;
}

.one:after .two:after {
content: "";
display: table;
clear: both;
}
.two {
  width: 48%;
  padding: 5px;
  float: right;
  margin: 5px
}
.three {
  width: 46%;
  padding: 5px;
  float: left;
  margin: 5px
}
.four {
  width: 49%;
  padding: 5px;
  float: left;
  margin: 5px
}
.one-half {
/*   border: 2px solid purple;
text-align: center;
*/
width: 45%;
padding: 5px;
/*   display: inline-block;
*/
float: left;
margin: 5px; }

.one-half:after {
content: "";
display: table;
clear: both; }

/* Phones ----------- */
@media only screen and (max-width: 767px) {
p {
  font-size: 18px; } }

/* Tablets ----------- */
@media only screen and (min-width: 768px) {
/* CSS Styles */
p {
  font-size: 16px; } }

/* -------- COLUMN LAYOUTS -------*/
/* -- Column Sizes -- */
.one-fourth {
width: 21.25%; }

.one-third {
width: 29.333%; }

/* .one-half     { width:45.5%; }
*/
.two-third {
width: 61.666%; }

.three-fourth {
width: 69.75%; }

.one-column {
width: 94%; }

.full-column {
width: 100%; }

/* -- Column Margin & Float-- */
.one_half, .one_third, .two_third,
.three_fourth, .one_fourth, .one_column,
.full_column {
margin-left: 3%;
margin-top: 1%;
float: left; }

/* -- Column Row (aka Clearfix) -- */
.row:after {
content: "";
display: table;
clear: both; }
