*, *:before, *:after {
  box-sizing: border-box;
}
section, body {
  font-family: 'Raleway', sans-serif;
  font-size: .9em;
}
section {
/*   margin-left: 10px;
 */}
.container {
  width: 95%;
}
.container2 {
  width: 30%;
  margin-top: 122px;
  position: fixed;
  /*top: 68px;*/
  right: 0;
  z-index: 3000;
  background: rgba(32, 12, 94, .9);
  padding: 7px 0px 7px 5px;
}
.container3 {
  width: 30%;
  position: absolute;
  top: 50px;
  right: 0;
}
.container4 {
  width: 30%;
  border: 1px solid silver;
  position: absolute;
  top: 154px;
  right: 0;
}
.search {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 3001;
}
.code {
  margin: 0;
  padding-top: 2px;
}
.section {
  min-height: 200px;
}
/* input.ng-invalid {
  border: 1px solid red;
}
input.ng-valid {
  border: 1px solid green;
} */
/* .red {
  display: block;
  color: red;
  font-size: 1.0em;
} */
section:after {
  clear: both;
}
.border {
   margin-bottom: 20px;
   margin-left: 20px;
   margin-right: 20px;
   border: 1px solid #000;
   padding: 20px;
}
.opacity {
     /*top: 0px;*/
      /*left: 0px;*/
      width: 100%;
      /*background: linear-gradient(to bottom, rgba(33,0,117,0.93) 0%, rgba(51,92,255,1) 100%);*/
      /* z-index: 1; */
/*       background: rgba(5, 9, 114, 0.94);
 */    /* These three lines are for transparency in all browsers. */
/*     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
filter: alpha(opacity=50);
opacity: .5;
  background: linear-gradient(to bottom, rgba(212,228,239,1) 0%, rgba(247,239,173,1) 100%);
 */

 background: rgba(51,92,255,1);
 background: rgba(10, 42, 169, 0.68);
 min-height: 3.1em;
 display: block;
 position: relative;
}
 .title {
  position: relative;
  width: 100%;
  /*border: 1px solid silver;*/
}
/* .initial {
  position: relative;
  display: flex;
  margin-top: 110px;
} */
.date {
  margin: 0;
  font-size: 1em;
  color: #dd291c;
  /*text-shadow: 3px 4px 5px rgba(255,255,255,.8);*/
  padding-top: 2px;
}
.form {
  margin: 0 auto;
  width: 100%;
}
.bold {
  font-weight: bold;
}
.top {
  float: right;
  width: 60%;
  margin-top: -50px;
}
.margin-t {
  margin-top: 5px;
}

.margin-t15 {
  margin-top: 15px;
}

.margin-t20 {
  margin-top: 20px;
}

.top:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.margin-l {
  margin-left: 20px;
}
.margin-l2 {
  margin-left: 10px !important;
}
.margin-l3 {
  margin-left: 5px;
}
.margin-r2 {
  margin-right: 10px;
}
.margin-b {
  margin-bottom: 5px;
}
a {
  font-size: .9em;
  font-size: 1.3em;
  color: #f3f709;
  text-decoration: none;
  transition: all 0.4s;
}
/*a:active {
  color: #e86c19;
}*/
/*a {
  color: #00f;
}*/
a:active, a:hover, button:hover {
  /*border: 1px solid #aaa;*/
  /*color: #e86c19;*/
  color: #000;
  border: 1px solid rgb(230,162,25);
  background: #fff;

}

.back {
  margin-top: -35px;
}
li {
  list-style-type: none;
/*   margin: 20px;
 */
}
/* p {
  margin-left: 10px;
} */

p, label, input, h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}
p {
   color: rgba(255, 255, 255, 1);
   margin: 0;
   font-size: .9em;
   color: #f3f709;
   color: #fff;
   font-family: inherit;
}
h5 {
  color: #2f4f4f;
  line-height: 1.5em;
  margin: 0;
  font-size: .9em;
}
.option {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  margin-left: 10px;
  margin-top: 2px;
}
/* input, label .block {
  display: block;
}
 */
 .block {
   display: block;
 }
 .margin-auto {
   margin: 0 auto;
   width: 77%;
 }
 .margin-auto2 {
     margin: 0 auto;
     width: 100%;
     margin-top: -80px;
 }
.input {
  float: left;
  margin: 10px;
  display: block;
}
.input2, .radio {
  width: 45%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
}
.input3 {
  width: 95%;
}
.input4 {
  width: 90%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
}
.radio2 {
  width: 25%;
}
.label {
  float: left;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 5px;
}
.label2 {
  width: 45%;
  margin: 15px;
  padding: 5px;
  margin-left: 150px;
}
.button {
  border: 1px solid #fff;
  text-decoration: none;
/*   background-color: #4747a3;
 */
  /*background: linear-gradient(to bottom, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);*/
  background: #fff;
  /*box-shadow: 3px 4px 5px 0px rgba(230,162,25,1);*/
  padding: 2px 3px;
  margin-left: 5px;
  border-radius: 3px;
  font-size: .8em;
  color: #00f;
  font-weight: 600;
  /*border: 2px solid rgb(230,162,25);*/
  transition: all 0.4s;
  border: 1px solid blue;
}

h1 {
  width: 20%;
  font-size: 1.2em;
  position: relative;
  right: 0;
  margin: 0;
  text-shadow: 3px 4px 5px rgba(255,255,255,.8);
}
h2 {
  margin-left: 10px;
  font-size: 30px;
}
h4 {
  margin: 0;
}

.title2 {
    margin-top: -1px;
}
.margin-top {
  margin-top: 40px;
}
.edit {
  margin: 0 auto;
  display: block;
  width: 100%;
}
table {
  width: 98%;
  margin-top: 75px;
  margin-left: 230px;
  border: 1px solid #000;
  margin: 0 auto;
}
.name {
  width: 40%;
}
th {
  width: 100%;
  background: #a39e9e;
  text-align: left;
  padding: 5px;
}
td {
  padding-left: 5px;
}
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

textarea {
  width: 70%;
  min-height: 100px;
  min-width: 300px;
  margin-left: 10px;
  font-size: 1.3em;
  padding: 10px 10px;
}
.right {
  float: right;
}
.clear, .right:after, .left:after, li:after, label:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.left {
  float: left;
}
.price {
/*   margin-left: 30px;
 */  margin-top: 9px;
  font-size: 1.3em;
}
 .clearfix {
    content: ".";
/*     visibility: hidden;
 */    display: block;
    height: 0;
    clear: both;
 }
 .bottom {
   display: inline-block;
 }
 .flex {
   margin-left: 265px;
   display: inline-flex;
   margin-top: 20px;
 }
 .flex2 {
   font-size: .8em;
   margin-left: 93px;
   display: inline-flex;
 }
 .align {
   margin-top: 20px;
   margin-left: 20px;
 }
 /*span {
   float: right;
 }*/

 .rating {
   color: #335CFF;
   font-size: 1.2em;
 }
 .red {
   color: #ff0000;
 }

 .map {
   margin: 0 auto;
   height: 700px;
   width: 800px;
   top: 0;
   left: 0;
   /*width: 60%;*/
   width: 300px;
   height: 300px;

   position: absolute;
   border: 1px solid #c0c0c0;
}
google-map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 70%;
}

.controls {
  direction: ltr;
  overflow: hidden;
  text-align: center;
  position: relative;
  color: rgb(86, 86, 86);
  font-family: Roboto, Arial, sans-serif;
  user-select: none;
  font-size: 11px;
  background-color: rgb(255, 255, 255);
  padding: 8px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
  border-left: 0px;
  min-width: 40px;
}

.controls-container {
  margin: 10px;
  z-index: 0;
  position: absolute;
  cursor: pointer;
  left: 0px;
  top: 0px;
}

.circle {
  position: absolute;
  cursor: pointer;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  /*z-index: 1;*/
}

.circle:active {
  width: 15px;
  height: 15px;
  margin-top: -4px;
  margin-left: -4px;
}

.circle:hover {
  width: 15px;
  height: 15px;
  margin-top: -4px;
  margin-left: -4px;
}

.circle.isActive {
  width: 15px;
  height: 15px;
  margin-top: -4px;
  margin-left: -4px;
}

.circle.active {
  width: 15px;
  height: 15px;
  margin-top: -4px;
  margin-left: -4px;
}
.active {
  width: 15px;
  height: 15px;
  margin-top: -4px;
  margin-left: -4px;
}

.isActive {
  width: 15px;
  height: 15px;
  margin-top: -4px;
  margin-left: -4px;
}

.tempActive {
  color: #000;
  border: 1px solid rgb(230,162,25);
  background: #fff;
}

.disabled {

}

.visibile {
  opacity: 1;
}

hr {
   background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.1), transparent);
   background-image: -moz-linear-gradient(left center, transparent, rgba(0, 0, 0, 0.1), transparent);
   background-image: -ms-linear-gradient(left center, transparent, rgba(0, 0, 0, 0.1), transparent);
   background-image: -o-linear-gradient(left center, transparent, rgba(0, 0, 0, 0.1), transparent);
   background-image: linear-gradient(left center, transparent, rgba(0, 0, 0, 0.1), transparent);
   border: 0 none;
   height: 1px;
   margin: 20px 0 40px;
  }

.opacity:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0.1em;
    height: .1em;
    background: #aaa;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 0, .8) 50%, rgba(255, 255, 255, .1) 100%);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 0, .8) 50%, rgba(255, 255, 255, .1) 100%);
    background: -ms-linear-gradientt(left, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 0, .8) 50%, rgba(255, 255, 255, .1) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 0, .8) 50%, rgba(255, 255, 255, .1) 100%);
}

.gm-style-iw {
  background: rgb(255,255,153);
  background: rgba(255,255,0,.4);
  padding: .1em;
}

.gm-style-iw a {
  color: #00f;
  text-decoration: none;
}

#map img { max-width: none; }
.map2 {
  margin-top: -130px;
  margin-bottom: 20px;
}
.map div div div div div div div {
  left: 800px;
}
h3 img {
  max-height: 50px;
}
.active a {
    color: #e86c19;
    text-decoration: none;
}
.infoWindowContent {
    color: #00f;
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
.marker {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}
.marker:active, .gm-style-iw:active {
  background: #0f0;
}
.marker2 {
  position: fixed;
  top: 0px;
/*   background: #f7efad;
 */
  min-height: 35px;
  /*background: linear-gradient(to bottom, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);*/
  background: rgba(241,231,103,1);
  background: -moz-linear-gradient(45deg, rgba(241,231,103,1) 0%, rgba(247,209,88,0.18) 45%, rgba(250,197,79,0.18) 70%, rgba(254,182,69,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(45%, rgba(247,209,88,0.18)), color-stop(70%, rgba(250,197,79,0.18)), color-stop(100%, rgba(254,182,69,1)));
  background: -webkit-linear-gradient(45deg, rgba(241,231,103,1) 0%, rgba(247,209,88,0.18) 45%, rgba(250,197,79,0.18) 70%, rgba(254,182,69,1) 100%);
  background: -o-linear-gradient(45deg, rgba(241,231,103,1) 0%, rgba(247,209,88,0.18) 45%, rgba(250,197,79,0.18) 70%, rgba(254,182,69,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(241,231,103,1) 0%, rgba(247,209,88,0.18) 45%, rgba(250,197,79,0.18) 70%, rgba(254,182,69,1) 100%);
  background: linear-gradient(45deg, rgba(241,231,103,1) 0%, rgba(247,209,88,0.18) 45%, rgba(250,197,79,0.18) 70%, rgba(254,182,69,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
  width: 30%;
  padding: 10px;
  border: 1px solid silver;
  right: 0;
  z-index: 3000;
}

.map-marker {
  width: 10px;
  height: 10px;
  margin-top: -5px;
  margin-left: -5px;
  border-radius: 50%;
  background-color: #d3d3d3;
  position: absolute;
  display: block;
  cursor: pointer;
  transition: all .1s;
}

.map-marker.active {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
}

.gather {
  font-size: 1em;
  color: #301484;
  padding-top: 20px;
  margin: 0;
  /*text-shadow: 3px 4px 5px rgba(255,255,255,.8);*/
}
.progress-bar {
  background: magenta;
  color: #fff;
  border-radius: 10px;
  font-weight: 500;
  height: 20px;
  padding-left: 5px;
  padding-top: 2px;
  /*font-size: 10px;*/
}
.progress-container {
  background: #e1e1e1;
  height: 15px;
  border-radius: 10px;
  margin-top: 5p;
  margin-top: 5px;
  width: 65%;
}

.address {
  font-size: 15px;
}
.fadein {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}
.fadeout {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}
.header {
  float: left;
  width: 100%;
  line-height: 1.1;
}
.one {
/*   width: 48%;
 */  padding: 5px;
}

.one:after .two:after {
content: "";
display: table;
clear: both;
}
.two {
  width: 48%;
  padding: 5px;
  float: right;
  margin: 5px
}
.three {
  width: 46%;
  padding: 5px;
  float: left;
  margin: 5px
}
.four {
  width: 49%;
  padding: 5px;
  float: left;
  margin: 5px
}
.one-half {
  width: 45%;
  float: left;
  margin-top: 5px;
}

.one-half:after {
content: "";
display: table;
clear: both; }

/* Phones ----------- */
@media only screen and (max-width: 767px) {
p {
  font-size: .8em; } }

/* Tablets ----------- */
@media only screen and (min-width: 768px) {
/* CSS Styles */
p {
  font-size: .8em; } }

/* -------- COLUMN LAYOUTS -------*/
/* -- Column Sizes -- */
.one-fourth {
width: 21.25%; }

.one-third {
width: 29.333%; }

/* .one-half     { width:45.5%; }
*/
.two-third {
width: 61.666%; }

.three-fourth {
width: 69.75%; }

.one-column {
width: 94%; }

.full-column {
width: 100%; }

/* -- Column Margin & Float-- */
.one_half, .one_third, .two_third,
.three_fourth, .one_fourth, .one_column,
.full_column {
margin-left: 3%;
margin-top: 1%;
float: left; }

/* -- Column Row (aka Clearfix) -- */
.row:after {
content: "";
display: table;
clear: both; }

/* Added from a site to make custom infoWindow*/

html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#addressMap {
  margin: 0;
  padding: 0;
  /*height: 700px;*/
  width: 70%;
  height: 100%;
  max-width: none;
  position: absolute;
}
/*#addressMap img {
	max-width: none !important;
  max-width: none !important;
  position: absolute;
  top: 17px;
  right: 12px;
}*/

/*.gm-style-iw {
	width: 350px !important;
	top: 15px !important;
	left: 0px !important;
	background-color: #fff;
	box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
	border: 1px solid rgba(72, 181, 233, 0.6);
	border-radius: 2px 2px 10px 10px;
}
#iw-container {
	margin-bottom: 10px;
}
#iw-container .iw-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	font-weight: 400;
	padding: 3px;
  background-color: rgba(255,255,0,.4);
  color: #35236D;
	margin: 0;
	border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	margin-right: 1px;
	padding: 15px 5px 20px 15px;
	max-height: 140px;
	overflow-y: auto;
	overflow-x: hidden;
}
.iw-content img {
	float: right;
	margin: 0 5px 5px 10px;
}

.iw-content p {
  color: #35236D;
  font-weight: 500;
}
.iw-subTitle {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0;
} */
/*.iw-bottom-gradient {
	position: absolute;
	width: 326px;
	height: 25px;
	bottom: 10px;
	right: 18px;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}*/

svg {
  width: 25%;
  padding: 0;
  margin: 0;
}

.infobox {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 400;
  margin-top: 8px;
  background-color: rgba(255,255,0,.6);
  background: rgba(241,231,103,1);
  background: rgba(231, 222, 124, 1);
  margin: 0;
  /* width: 200px; */
  border-radius: 2px 2px 0 0;
  border: 1px solid rgba(72, 181, 233, 0.6);
  /* border: 1px solid black; */
  border: 1px solid #335CFF;
  margin-top: 5px;
  padding: 12px;
  outline: #bb00ff inset 7px;
  outline: #335CFF inset 4px;
  outline-offset: -8px;
  /*background: rgba(102, 51, 153, .7)*/
  outline: rgba(51, 92, 255, .8) inset 4px;

}

.infoBox {
  /*opacity: .75 !important;*/
}

.infobox a {
  color: blue;
  font-weight: 500;
  font-size: 1.3em;
  /*padding-left: 10px;*/
}
.infoBox::before { // triangle
  content: " ";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #000;
  border-bottom: 10px solid rgba(72, 181, 233, 1);
  position: absolute;
  border-bottom: 10px solid #335CFF;
  top: -5px;
  left: 130px;
}

.info-box-wrap {
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.08);
  background: #f9f786;
  background: #f9f7b8;
  border: 1px solid black;
  padding-bottom: 10px;
  padding-left: 10px;
  min-height: 205px;
  font-size: 12px;
}
.info-box-title {
  height: 40px !important;
  /*width: 170px;*/
  /*float: left;*/
  padding-top: 5px;
  overflow: hidden;
  font-size: 22px;
  /*padding: 5px;*/
  /*padding-left: 10px;*/
}

.info-box-wrap img {
  /*padding-right: 5px;*/
  /*max-width: none !important;*/
  left: 0;
  float: right;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 10px;
}

.info-box-wrap p {
  padding-left: 10px;
  padding-right: 5px;
  font-size: 1em;
  color: #000;
  font-weight: 500;
  /*padding-top: 40px;*/
  padding-bottom: 5px;
}

.info-box-wrap p a {
  color: #00f;
}

.ratings {
  color: #000;
}

.padding {
  padding-top: 40px;
}
