<div id="infobox"></div>
<google-map id="addressMap" city="search.city" accesskey=""
            ng-mouseenter="circle.isActive=true" ng-mouseleave="circle.isActive=false"></google-map>
<!-- <div ng-bind="newMap"></div> -->
<!-- <div id="addressMap" class="map" city="search.city" google-map></div> -->
 <section>
   <form class="search" ng-submit="selectedSearch(search)">
       <!-- <label class="left margin-t" for="search">Pick Your Gather Event</label> -->
          <select class="option" name="search" ng-model="search"
              ng-change="changeCity(search)"
              ng-options="gather.password + ' - ' + gather.city for gather in gathers track by gather.password">
              <option value="" ng-repeat="gather in gathers">Search Event</option>
          </select>
   </form>
</section>
<!-- <button class="refresh" ng-click="initializeMap()">Refresh Map</button> -->
<!-- <google-map class="map" ng-click"initializeMap(search)" lat="search.lat" long="search.long"></google-map> -->
   <!-- <select name="filter-password" ng-model="passwordFilter">
      ng-options="gather.title for gather in gathers"
   </select> -->

 <section class="marker2">
 <div class="" ng-if="search" ng-repeat="gather in gathers | filter: {city: search.city}">
    <div class="header">
        <h1 class="left">Gather</h1>
        <h3 class="gather">Title: {{gather.title}}</h3>
        <h4 class="date">{{gather.startDate | amDateFormat:'MMM Do YYYY'}} - {{gather.endDate | amDateFormat:'MMM Do YYYY'}}</h4>
        <h4 class="code">Code: {{gather.password}}</h4>
    </div>
    <div class="row">
    <div class="one-half">
        <h5>Hospitality: {{gather.name}}</h5>
        <h5>Country: {{gather.country}}</h5>
    </div>
    <div class="one-half">
        <h5>{{search.temperature}} &#8457; in {{gather.city}}, {{gather.state}}</h5>
        <h5>{{search.summary}}</h5>
<!--         <p>{{time | amDifference : null : 'days' }}  days from now</p>
 -->
    </div>
    </div>
  </div>

</section>
<section class="initial">

<div class="container2">
  <a class="button" ng-click="addForm()" type="submit" city="search.city" google-map>Search by city</a>
  <button class="button margin-l2" ng-click="logout()">Logout</button>

  <a class="button" href="/#/gather">Back to Gather</a>
  <a class="button right margin-r2" href="/#/gather/places/new" target="_self">Back to All Places</a>

  <!-- <h3 class="clearfix">
        <img class="left" src="http://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/AngularJS_logo.svg/695px-AngularJS_logo.svg.png"/>
        <img class="right" src="http://upload.wikimedia.org/wikipedia/commons/9/9a/Google_maps_logo.png"/>
    </h3> -->
  </div>
  <div class="container4">
    <section class="form">
      <form class="comment-form fadein fadeout" ng-show="add === true" ng-hide="add === false" name="searchForm">
        <div class="margin-l3 title">
            <button id="more" class="button margin-t">More results</button>

            <div class="margin-l3">
               <label class="label" for="query">Place text (ex. Golden restaurants)</label>
                 <input class="input3" type="text" name="query" ng-model="place.query" required>
            </div>
            <div class="margin-l3">
                <label class="label" for="search">Enter Event Gather Code</label>
                  <input class="input3" type="text" name="search" ng-model="place.code" required>
            </div>
          </div>
          <div class="title">
             <button class="button margin-t margin-l2 margin-b" ng-click="placeSearch(place); $event.stopPropagation();" type="submit" class="btn btn-primary">submit</button>
          </div>
       </form>
   </section>
 </div>

   <section>
<!--      <div class="map" id="map"></div>
 -->   </section>
  <div class="container4">
   <section class="title">
   <div google-map class="container marker opacity"
       ng-repeat="marker in newMarkers track by $index | orderBy : 'name'"
       ng-mouseover="markerActive=true"
       ng-mouseleave="markerActive=false">
      <!-- <a href="#" class="red" ng-click="openInfoWindow($event, marker)">{{marker.name}}</a> -->
      <p>
        <button ng-click="mouseover(markerActive)">MarkerActive</button>
        <!-- ng-class="{ tempActive: markerActive === true, disabled: markerActive === false }"  -->
        <a href="/#/gather/places/{{marker.password}}/new" target="_self"
            ng-click="addPlace(marker)">
            {{marker.name}} | {{marker.type}}
          <span class="circle" ng-class="{ active: markerActive === true }"
                ng-mouseenter="markerActive=true" ng-mouseleave="markerActive=false"
                style="background: {{marker.color}}; float: right; position: inherit;"></span>
          {{marker.color}} {{markerActive}} {{circle.isActive}}
      </a>
    </p>
     <p>{{marker.address}}</p>
     <p>{{marker.phone}}</p>
     <p><a href="{{marker.website}}">{{marker.website}}</a></p>
     <!-- <p>Rating: {{marker.rating}}</p>
     <p>User Ratings: {{marker.userRatings}}</p>
     <p>Price Level: {{marker.priceLevel}}</p>
     <p>Type: {{marker.type}}</p> -->
     </div>
   </section>

  </div>
</section>
