<h1>Gather</h1>
<h3 class="margin-l">Login Page</h3>
<section class="edit">
  <form name="myForm">
    <div class="">
    <label class="label" for="name">User's Name</label>
      <input class="input2" type="text" name="name" ng-model="user.name" required />
    </div>

    <div class="">
    <label class="label" for="desc">Email</label>
      <input class="input2" type="email" name="email" ng-model="user.email" required />
    </div>

      <div class="">
      <label class="label" for="desc">Password</label>
        <input class="input2" type="password" name="password" ng-model="user.password" required />
      </div>

        <div class="flex input2">
         <li><button class="button" ng-href="/#/gather/places" ng-click="register()" type="submit">Register</button></li>
        <li><button class="button" ng-click="login()" type="submit">Login</button></li>
      </div>
 </form>
 </section>
