*, *:before, *:after {
  box-sizing: border-box;
}
section, body {
  font-family: 'Raleway', sans-serif;
  font-size: .9em;
}
section {
  margin-left: 10px;
}
.container {
  width: 95%;
}
.section {
  min-height: 200px;
}
/* input.ng-invalid {
  border: 1px solid red;
}
input.ng-valid {
  border: 1px solid green;
} */
/* .red {
  display: block;
  color: red;
  font-size: 1.0em;
} */
section:after {
  clear: both;
}
.border {
   margin-bottom: 20px;
   margin-left: 20px;
   margin-right: 20px;
   border: 1px solid black;
   padding: 20px;
}
 .title {
  display: inline-block;
}
.form {
  margin: 0 auto;
  width: 50%;
}
.bold {
  font-weight: bold;
}
.top {
  float: right;
  width: 60%;
  margin-top: -50px;
}
.top:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.margin-l {
  margin-left: 20px;
}
a {
  font-size: 1.2em;
}
a:hover, button:hover {
  border: 1px solid #aaa;
  color: #e86c19;
}
.back {
  margin-right: 30px;
  margin-top: -50px;
}
li {
  float: left;
  list-style-type: none;
/*   margin: 20px;
 */
}
p {
  margin-left: 10px;
}
p, label, input {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3em;
}
/* input, label .block {
  display: block;
}
 */
 .block {
   display: block;
 }
 .margin-auto {
   margin: 0 auto;
   width: 77%;
 }
.input, label {
  float: left;
  margin: 10px;
  display: block;
}
.input2, .radio {
  width: 45%;
}
.radio2 {
  width: 25%;
}
.label {
  padding-bottom: 10px;
}
.label2 {
  width: 22%;
}
.button {
  border: 1px solid white;
  text-decoration: none;
  background-color: #4747a3;
  padding: 10px;
  border-radius: 5px;
  font-size: .9em;
  color: white;
}
h1 {
  margin-left: 10px;
  font-size: 40px;
}
h2 {
  margin-left: 10px;
  font-size: 30px;
}
.title2 {
    margin-top: -1px;
}
.margin-top {
  margin-top: 40px;
}
.edit {
  width: 75%;
}
table {
  width: 98%;
  margin-top: 75px;
  margin-left: 230px;
  border: 1px solid black;
  margin: 0 auto;
}
.name {
  width: 40%;
}
th {
  width: 100%;
  background: #a39e9e;
  text-align: left;
  padding: 5px;
}
td {
  padding-left: 5px;
}
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

textarea {
  width: 70%;
  min-height: 100px;
  min-width: 300px;
  margin-left: 10px;
  font-size: 1.3em;
  padding: 10px 10px;
}
.right {
  float: right;
}
.clear, .right:after, .left:after, li:after, label:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.left {
  float: left;
}
.price {
/*   margin-left: 30px;
 */  margin-top: 9px;
  font-size: 1.3em;
}
 /* .clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
 } */
 .bottom {
   display: inline-block;
 }
 .flex {
   margin-left: 265px;
   display: inline-flex;
   margin-top: 20px;
 }
 .flex2 {
   font-size: .8em;
   margin-left: 93px;
   display: inline-flex;
 }
 .align {
   margin-top: 20px;
   margin-left: 20px;
 }
 span {
   float: right;
 }
 .red {
   color: red;
 }
 .map {
   margin: 0 auto;
   height: 400px;
   width: 800px;
   /*     margin: 20px 0;
   */
     border-radius: 5px;
     border: 1px solid silver;
}
h3 img {
  max-height: 50px;
}
.active a {
    color: #e86c19;
    text-decoration: none;
}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
.marker {
  background: #f7efad;
  width: 40%;
  margin: 20px;
  padding: 10px;
  min-height: 292px;
  border: 2px solid blue;
  border-radius: 10px;
}
